.text {
    color: #000;
    background: #ffffff;
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    border: 1px solid #000;
}

.text::placeholder {
    color: #c0c0c0;
}