.li {
	list-style: none;
	text-align: center;
}

.li > a {
	display: block;
	background-color: #fff;
	text-decoration: none;
	color: #000;
	font-size: 24px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 10px;
}

.li > a:hover {
	background-color: #d8d8d8;
}
