.parentContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.childLeftContainer {
    background: white;
    height: 100px;
    width: 45%;
    border-radius: 10px;
    margin: 3%;
    padding: 20px;
    position: relative;
    z-index: 10;
}

.childRightContainer {
    width: 40%;
    height: 300px;
    color: #000;
    position: relative;
}