.tag {
    display: inline-block;
    border-radius: 20px;
    padding: 6px 14px;
    background-color: #f5f4f4;
    color: #2e2a47;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08),
}