.button {
    display: block;
    width: 100%;
    background-color: #ff9900;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    appearance: none;
    border-radius: 10px;
    transition: 0.3s;
}

.button:hover {
    background-color: #d87e00;
}