.parentContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin:  0 auto;
}

.childContainer {
    background: white;
    height: 300px;
    width: 20%;
    border-radius: 10px;
    position: relative;
    z-index: 10;
    border: 1px solid #000;
    margin: 2%;
}

a:link {
    color: #000;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    z-index: 11;
    object-fit: cover;
}

.name {
    position: absolute;
    top: 210px;
    left: 15px;
}

.price {
    position: absolute;
    top: 250px;
    left: 10px;
}