.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(0, 0, 0, 0.2);
}

.toplink {
	text-decoration: none;
}

.title {
	padding-left: 70px;
	color: #fff;
	font-family: 'Times New Roman', Times, serif;
}

.nav {
	display: flex;
	width: 40%;
}

.ul {
	width: 100%;
	padding-left: 0;
	display: flex;
	justify-content: space-around;
}

.li {
	list-style-type: none;
}

.button {
	border: none;
	cursor: pointer;
	outline: none;
	appearance: none;
	transition: 0.3s;
	display: block;
	background-color: #fff;
	text-decoration: none;
	color: #000;
	font-size: 24px;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
	padding: 10px 20px;
	border-radius: 10px;
}

.button:hover {
	background-color: #d8d8d8;
}
