.container {
	width: 80%;
	margin: 40px auto;
}

.area {
	margin-top: 40px;
}

.imageArea {
	display: flex;
	justify-content: center;
	margin-bottom: 24px;
}

.imageContainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.previewImage {
	width: 15%;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid #ddd;
}

.button {
	display: block;
	width: 30%;
	background-color: #ff9900;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 10px;
	font-size: 24px;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
	color: #fff;
	appearance: none;
	border-radius: 10px;
	transition: 0.3s;
}

.button:hover {
	background-color: #d87e00;
}

button:focus,
input:focus {
	outline: none;
	box-shadow: none;
}
